<h1 class="text-center">Welcome to the longest word-game!</h1>
<h2 class="text-center">Here is your grid:</h2>


<div class="text-center">
<% @letters.each do |letter| %>
<button type="button" class="btn btn-lg btn-info" disabled><%= letter %></button>
<% end %>
</div>

<br>
<h6 class="text-center">What's your best shot?</h6>

<form class="form-inline text-center" action="/score" method="post" data-turbo="false">
  <div class="form-group mx-sm-3 mb-2">
<input type="text" class="form-control" name="guess" value="<%= params[:guess] %>">
<input type="submit" class="btn btn-primary mb-2" value="Play!">
  </div>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= hidden_field_tag :letters, @letters %>
</form>
<br>
<div class="text-center">
<button type="button" class="btn btn-lg btn-warning"><%= link_to "Re-roll", new_path %></button>
</div>
